$white: #ffffff;

// GRAY
$gray-100: #e1e1e6;
$gray-300: #c4c4cc;
$gray-400: #8d8d99;
$gray-500: #6b7280;
$gray-600: #323238;
$gray-700: #29292e;
$gray-800: #202024;
$gray-900: #121214;

// GREEN
$green-500: #00875f;

// ORANGE
$orange-50: #fff7ed;
$orange-100: #ffedd5;
$orange-200: #fed7aa;
$orange-300: #fdba74;
$orange-400: #fb923c;
$orange-550: #d67424;
$orange-600: #ea580c;
$orange-700: #c2410c;
$orange-800: #9a3412;
$orange-900: #7c2d12;
$orange-800: rgb(214 136 16);
