.container {
  display: flex;
  flex-direction: column;
  width: 83%;
  margin-top: 1.25rem; /* 4px */
}

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.sublink {
  color: rgb(37 99 235);
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
