@import './colors';
@import './fonts';

#__next {
  font-family: 'Roboto', sans-serif;
  background: $gray-900;
  --webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1rem;
  color: $gray-300;
  font-family: 'Roboto', sans-serif;
}

$primary-color: $orange-550;
$background-color: #141d26;
$gray-primary: #3e4a54;
